<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/covers/cwp-corvette-cover2.HEIC
); background-size: cover; background-position: center;">
	<!-- Mask (color fog on cover image) -->
	<span class="mask bg-primary opacity-5"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-12 col-md-10">
				<!-- <h1 class="display-2 text-white">박찬우 Chan Woo Park</h1>
				<a class="btn" style="color: #ffd200; background: #0064a4; margin-bottom: 10px;">Student @ UC Irvine</a>
				<a class="btn" style="color: white; background: #0fd28a; margin-bottom: 10px;">Software Engineer</a>
				<a class="btn" style="color: white; background: purple; margin-bottom: 10px;">AR Expert</a>
				<a class="btn" style="color: white; background: red; margin-bottom: 10px;">Web Developer</a> -->

				<!--<p class="text-white mb-0">Computer Science @ UC Irvine</p>-->
				<!--<p class="text-white mt-0">Software Engineer @ VUSAR</p>-->
			</div>
		</div>
	</div>
</div>


<div class="container-fluid mt--7">
	<div class="row">


		<!-- Right column (pic, instagram feed) -->
		<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
			<div class="card card-profile shadow">
				<div class="row justify-content-center">
					<div class="col-lg-3 order-lg-2">
						<div class="card-profile-image">
							<a href="javascript:void(0)">
				<img src="assets/img/profiles/VUSARprofile-square.JPG" class="rounded-circle">
			  </a>
						</div>
					</div>
				</div>
				<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
					<div class="d-flex justify-content-between">
						<a target="_blank" rel="noopener" href="https://www.linkedin.com/in/chanwpark/" class="btn btn-sm btn-info mr-4">Connect</a>
						<a href="javascript:void(0)" class="btn btn-sm btn-default float-right" onclick="javascript:window.location='mailto:chanwoop96@gmail.com?subject=Invitation to connect';">Message</a>
					</div>
				</div>
				<div class="card-body pt-0 pt-md-4">
					<!-- My description -->
					<div class="text-center mt-4">
						<h3>
							Chan Woo Park<span class="font-weight-light">, 24</span>
						</h3>
						<div class="h5 font-weight-300">
							<i class="ni location_pin mr-2"></i>Irvine, California
						</div>
						<div class="h5 mt-4">
							<i class="ni business_briefcase-24 mr-2"></i>B.S. Computer Science 2020
							<br>Specialization: Network Systems
						</div>
						<div>
							<i class="ni education_hat mr-2"></i>University of California Irvine
						</div>
						<hr class="my-4" />
						<p>
							Software engineer with a demonstrated history of experience in Mobile & Full-Stack development.
							<br><br>
							Expertise in Python, Java, Android, Angular, and Linux systems.
							<br><br>
							Code maintainability is something I crucially follow and practice. Implementing software architectures has been my focus in recent projects.
							<br>
							Documentation, organized commit messages, and well-tested builds are what I strive for.
							<br><br><br><br><br><br>
							<i>Every small project deserves a Git repository</i>
							<br>  - Chan Woo Park, 2020
							<br><br><br>
							<i>Dependency problems? Ever heard of Docker?</i>
							<br>  - Chan Woo Park, 2020
							<br>
							
						</p>
						<br><br>
						View my <a target="_blank" rel="noopener" style="color:#00CED1" href="../../../assets/resume/CWParkResume53.pdf">RESUME</a>
						<br>View my <a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.linkedin.com/in/chanwpark/">LinkedIn</a>
					</div>

					<!-- Instagram stats -->
					<div class="row">
						<div class="col">
							<div class="card-profile-stats d-flex justify-content-center mt-md-5">
								<div>
									<span class="heading">61</span>
									<span class="description">Posts</span>
								</div>
								<div>
									<span class="heading">288</span>
									<span class="description">Followers</span>
								</div>
								<div>
									<span class="heading">535</span>
									<span class="description">Following</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Instagram carousel -->
					<iframe id="instagram-embed-0" class="instagram-media instagram-media-rendered" style="background: white; max-width: 658px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid #dbdbdb; box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;" src="https://www.instagram.com/p/CFYoiMlM0SW/embed?utm_source=ig_embedembed/captioned/" scrolling="no" data-instgrm-payload-id="instagram-media-payload-0" height="750" frameborder="0"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span></iframe>
				</div>
			</div>
		</div>
		<!-- End of Right column -->


		<!-- Left column (GitHub commit grid, what-I-can-offer, work-experience-timeline) -->
		<div class="col-xl-8 order-xl-1">

			<!-- Card: Introduction -->
			<div class="card bg-secondary shadow mb-5">
				<!-- Introduction card header -->
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Introduction</h3>
						</div>
						<!--<div class="col-4 text-right">-->
						<!--  <a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
						<!--</div>-->
					</div>
				</div>
				<!-- Introduction card body -->
				<div class="card-body">

					<!-- Introduction header -->
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-lg-12 col-md-10">
							<h1 class="display-4 text-black">Hi, I'm <mark style="color: lightseagreen; margin-bottom: 15px;">Chan Woo</mark>!</h1>
							<a class="btn smallerbtn" style="color: white; background: #f306a0;">Software Engineer</a>
							<a class="btn smallerbtn" style="color: white; background: #0fd28a;">Android Dev</a>
							<a class="btn smallerbtn" style="color: #ffd200; background: #08a6f3;">Student</a>
							<a class="btn smallerbtn" style="color: white; background: #f97400;">Artist</a>
							<a class="btn smallerbtn" style="color: white; background: purple;">Leader</a>
			
							<!--<p class="text-white mb-0">Computer Science @ UC Irvine</p>-->
							<!--<p class="text-white mt-0">Software Engineer @ VUSAR</p>-->
						</div>
					</div>

					<p class="mb-3">I am a <b>South Korean</b> student studying <b>Computer Science</b> at the <b>University of California Irvine</b>.
						I am graduating <b>December 2020</b>.
						<!-- <br>I am a <b>Computer Science</b> student at the <b>University of California Irvine</b>, graduating <b>December 2020</b>. -->
						<!-- <br>I'm from South Korea and my name is written <b>박찬우</b> in Hangul (read <b>Park Chan Woo</b>). -->
						<br>I've spent over 14 years studying abroad in <a routerLink="." ngbTooltip="Singapore, Thailand, India, United States">various countries</a>.
						My ambition is to learn new skills, automate repeated work, and write clean code.
						<br><br>I do things that make people question <i>"why?"</i>
						<br><br>The answer is always <i>"why not?"</i>.
						<br><br>I love longboarding 🛹, doodling pixel art 🎨, and playing Tetris 🕹️.
						<br>Check out my <a target="_blank" rel="noopener" style="color:#00CED1" href="https://jstris.jezevec10.com/replay/17081747">Personal Best</a> in the 40-line sprint category!  (click 'load')
						<!-- <br><br>I'm currently leading a team of game devs in building a Tower Defense strategy game! I'm contributing in providing assets and animations for the game. -->
						<br><br>I'm bilingual in Korean and English. I also picked up Mandarin in school.
					</p>
				</div>
				<!--<hr class="my-4" />-->
			</div>
			<!-- Card: Introduction End -->

			<!-- Card: Recent blogs -->
			<!-- <div class="card bg-secondary shadow mb-5"> -->
				<!-- Recent blogs card header -->
				<!-- <div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Recent Blogposts</h3>
						</div>
						<div class="col-4 text-right">
							<a href="#!" class="btn btn-sm btn-primary">Visit my Blog</a>
						</div>
					</div>
				</div> -->
				<!-- Blogs card header -->
				<!-- <div class="card-body"> -->
					<!-- iterate through blogs here -->
				<!-- </div>
			</div> -->

			<!-- Card: What I can offer -->
			<!--<div class="card bg-secondary shadow mb-5">-->
			<!-- WhatOffer card header -->
			<!--	<div class="card-header bg-white border-0">-->
			<!--		<div class="row align-items-center">-->
			<!--			<div class="col-8">-->
			<!--				<h3 class="mb-0">What I can offer</h3>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!-- WhatOffer card body -->
			<!--	<div class="card-body">-->

			<!--	</div>-->
			<!--</div>-->


			<!-- Card: Timeline -->
			<div class="card bg-secondary shadow mb-5">
				<!--Timeline card header -->
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">My Timeline</h3>
						</div>
					</div>
				</div>
				<!--Timeline card body -->
				<div class="card-body">
					<!-- Timeline title text -->
					<!-- <h3 class="mb-5">THE TALE THUSFAR...</h3> -->

					<ul class="timeline">
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-baby.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">January 1996</h4>
									<h4 class="subheading" style="color:#3680C1">Made in Korea</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Grew up in Seocho-dong, Seoul.<br>Small world back then.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-singapore.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2000</h4>
									<h4 class="subheading" style="color:#3680C1">Singapore</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My first home overseas. I attended British schools, kindergarden through third grade. Imagine a younger me speaking with a British accent<br><s>“Fancy a cuppa wo-ta?”</s></p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-thailand.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">August 2004</h4>
									<h4 class="subheading" style="color:#3680C1">Thailand and Tuk tuks</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Thai food is awesome, but as a 10 year old kid all I was interested in was playing outside with my friends all day.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-korea.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">March 2007</h4>
									<h4 class="subheading" style="color:#3680C1">Back in Korea</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">I had difficulties adjusting back to the Korean curriculum after having spent all these years overseas. But this phase is what solidified my identity as a Korean, and brings back pure nostalgia when looking back.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-india.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">December 2011</h4>
									<h4 class="subheading" style="color:#3680C1">Incredible India</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Yanked back out overseas, to India! I remember India as a place where 'There lies order in dis-order'. The culture was unique by far. Food was awesome - found my love for butter chicken and garlic naan 🤩</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-uci1.png" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2014</h4>
									<h4 class="subheading" style="color:#3680C1">Baby Anteater</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">"Hey everything's so big here and people are so nice!" : My first impression coming into the US. College is great because it's so easy to meet people who have similar interests.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-shouhan.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2016</h4>
									<h4 class="subheading" style="color:#3680C1">ShouHan</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My first internship at a startup in Seoul. The dev team was pretty small (i.e. three of us) but I learned a ton from my mentor about setting up Linux servers and other cool stuff.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-army.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">November 2016</h4>
									<h4 class="subheading" style="color:#3680C1">Army Strong</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Stationed at Uijeongbu, Camp Red Cloud. There's so many things that I've earned from my service in the Army. The bonds of comradeship with fellow soldiers, crazy experiences out in the field, discipline in life, and an overall respect and duty for my country.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-uci2.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2018</h4>
									<h4 class="subheading" style="color:#3680C1">Back 2 School</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Returning to school felt like I had been frozen in time: most of my friends graduated and had jobs, and the school had changed too. On the other hand, it opened doors to making new relationships and valuable memories.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-vusar.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">January 2019</h4>
									<h4 class="subheading" style="color:#3680C1">VUSAR</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My second internship: this time at a startup based in Irvine. I've met some great people working here, and learned the importance of collaboration. I love what I do, and there's always new things to learn.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>Hire Me<br>For My Next<br>Chapter!</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card: Timeline End -->

			<!-- Card: Trivia -->
			<div class="card bg-secondary shadow mb-5">
				<!-- Trivia card header -->
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Trivia</h3>
						</div>
					</div>
				</div>
				<!-- Trivia card body -->
				<div class="card-body">

					<div class="row">
						<div class="col">
							<div class="card shadow">
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<!-- <thead class="thead-light">
											<tr>
												<th scope="col">Project</th>
												<th scope="col">Budget</th>
												<th scope="col">Status</th>
												<th scope="col"></th>
											</tr>
										</thead> -->
										<tbody>
											<tr>
												<th scope="row">
													<div class="media align-items-center">
														<div class="media-body">
															<span class="mb-0 text-sm">Countries Lived in (years)</span>
														</div>
													</div>
												</th>
												<td>
													<p>
														Korea (10), USA (4), India (2.5), Thailand (3), Singapore (4.5)
													</p>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<div class="media align-items-center">
														<div class="media-body">
															<span class="mb-0 text-sm">Countries Visited</span>
														</div>
													</div>
												</th>
												<td>
													<p>
														Indonesia, Malaysia, Brazil, Peru,
														<br>France, Italy, Cambodia, Turkey, Argentina
													</p>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<div class="media align-items-center">
														<div class="media-body">
															<span class="mb-0 text-sm">Favorite Movies/Shows</span>
														</div>
													</div>
												</th>
												<td>
													<p>
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=WlD35052w38&ab_channel=YouTubeMovies">해바라기 (Sunflower)</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=myP0ZHhTcNY&ab_channel=EonTalk">극한직업 (Extreme Job)</a>, 
														<br><a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=1HRTy26s4hw&feature=emb_logo&ab_channel=Shudder">괴물 (The Host)</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=khB_wpn-bmc&feature=emb_logo&ab_channel=MovieclipsTrailers">About Time</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=ayTnvVpj9t4&ab_channel=Movieclips">Hot Fuzz</a>, 
														<br><a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=opbi7d42s8E&ab_channel=Miramax">No Country for Old Men</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=2zhZH8eTN48&ab_channel=TheICONTheMICKING">알포인트 (R-Point)</a>, 
														<br><a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.youtube.com/watch?v=ZHYaj6EHfJg&ab_channel=GammaCaeles">Drive</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.rickandmorty.com/">Rick and Morty</a>
													</p>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<div class="media align-items-center">
														<div class="media-body">
															<span class="mb-0 text-sm">Favorite Artists</span>
														</div>
													</div>
												</th>
												<td>
													<p>
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.mortmort.net/">MortMort</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://carbotanimations.com/">CarBotAnimations</a>, 
														<br><a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.instagram.com/pkalbum/">Paul Kim</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.instagram.com/danielcaesar/">Daniel Caesar</a>, 
														<br><a target="_blank" rel="noopener" style="color:#00CED1" href="https://www.instagram.com/mrbrunomajor/">Bruno Major</a>, 
														<a target="_blank" rel="noopener" style="color:#00CED1" href="http://atribecalledquest.com/">A Tribe Called Quest</a>
													</p>
												</td>
											</tr>
											<tr>
												<th scope="row">
													<div class="media align-items-center">
														<div class="media-body">
															<span class="mb-0 text-sm">Favorite Games</span>
														</div>
													</div>
												</th>
												<td>
													<p>
														Counter Strike, Valorant, No Man's Sky, Tetris,
														<br>Sea of Thieves, Crypt of the Necrodancer,
														<br>Sly Cooper and the Thievius Raccoonus, I Wanna Be the Guy
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- Card: Trivia End -->

		</div>
		<!-- End of Left column -->
	</div>
</div>
