<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/covers/cwp-corvette-cover2.HEIC
); background-size: cover; background-position: center;">
	<!-- Mask (color fog on cover image) -->
	<span class="mask bg-primary opacity-5"></span>
	<!-- Header container -->
	<div class="container-fluid d-flex align-items-center">
		<div class="row">
			<div class="col-lg-12 col-md-10">
				<!-- <h1 class="display-2 text-white">박찬우 Chan Woo Park</h1>
				<a class="btn" style="color: #ffd200; background: #0064a4; margin-bottom: 10px;">Student @ UC Irvine</a>
				<a class="btn" style="color: white; background: #0fd28a; margin-bottom: 10px;">Software Engineer</a>
				<a class="btn" style="color: white; background: purple; margin-bottom: 10px;">AR Expert</a>
				<a class="btn" style="color: white; background: red; margin-bottom: 10px;">Web Developer</a> -->

				<!--<p class="text-white mb-0">Computer Science @ UC Irvine</p>-->
				<!--<p class="text-white mt-0">Software Engineer @ VUSAR</p>-->
			</div>
		</div>
	</div>
</div>


<div class="container-fluid mt--7">
	<div class="row">


		<!-- Right column (pic, instagram feed) -->
		<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
			<div class="card card-profile shadow">
				<div class="row justify-content-center">
					<div class="col-lg-3 order-lg-2">
						<div class="card-profile-image">
							<a href="javascript:void(0)">
				<img src="assets/img/profiles/VUSARprofile-square.JPG" class="rounded-circle">
			  </a>
						</div>
					</div>
				</div>
				<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
					<div class="d-flex justify-content-between">
						<a target="_blank" rel="noopener" href="https://www.linkedin.com/in/chanwpark/" class="btn btn-sm btn-info mr-4">Connect</a>
						<a href="javascript:void(0)" class="btn btn-sm btn-default float-right" onclick="javascript:window.location='mailto:chanwoop96@gmail.com?subject=Invitation to connect';">Message</a>
					</div>
				</div>
				<div class="card-body pt-0 pt-md-4">
					<!-- My description -->
					<div class="text-center mt-4">
						<h3>
							Chan Woo Park<span class="font-weight-light">, 24</span>
						</h3>
						<div class="h5 font-weight-300">
							<i class="ni location_pin mr-2"></i>Irvine, California
						</div>
						<div class="h5 mt-4">
							<i class="ni business_briefcase-24 mr-2"></i>B.S. Computer Science 2020
						</div>
						<div>
							<i class="ni education_hat mr-2"></i>University of California Irvine
						</div>
						<hr class="my-4" />
						<p>
							Software engineer with a demonstrated history of experience in full stack development.
							<br><br>
							B.S. Computer Science from UC Irvine, focused in Networked Systems. Graduation date December 2020.
							<br><br>
							Skilled in Android mobile development, Linux systems, database systems and software architecture.
							<br><br>
							Bilingual in Korean and English. Intermediate Mandarin speaker.
							<br>
						</p>
						<a href="https://www.linkedin.com/in/chanwpark/">View my LinkedIn</a>
					</div>

					<!-- Instagram stats -->
					<div class="row">
						<div class="col">
							<div class="card-profile-stats d-flex justify-content-center mt-md-5">
								<div>
									<span class="heading">61</span>
									<span class="description">Posts</span>
								</div>
								<div>
									<span class="heading">288</span>
									<span class="description">Followers</span>
								</div>
								<div>
									<span class="heading">535</span>
									<span class="description">Following</span>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Instagram carousel -->
					<iframe id="instagram-embed-0" class="instagram-media instagram-media-rendered" style="background: white; max-width: 658px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid #dbdbdb; box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px;" src="https://www.instagram.com/p/CFYoiMlM0SW/embed?utm_source=ig_embedembed/captioned/" scrolling="no" data-instgrm-payload-id="instagram-media-payload-0" height="750" frameborder="0"><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start"></span></iframe>
				</div>
			</div>
		</div>
		<!-- End of Right column -->


		<!-- Left column (GitHub commit grid, what-I-can-offer, work-experience-timeline) -->
		<div class="col-xl-8 order-xl-1">

			<!-- Card: Introduction -->
			<div class="card bg-secondary shadow mb-5">
				<!-- Introduction card header -->
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Introduction</h3>
						</div>
						<!--<div class="col-4 text-right">-->
						<!--  <a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
						<!--</div>-->
					</div>
				</div>
				<!-- Introduction card body -->
				<div class="card-body">

					<!-- Introduction header -->
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-lg-12 col-md-10">
							<h1 class="display-4 text-black">Hi, I am <mark style="color: lightseagreen; margin-bottom: 15px;">Chan Woo Park</mark></h1>
							<a class="btn smallerbtn" style="color: white; background: #f306a0;">Software Engineer</a>
							<a class="btn smallerbtn" style="color: white; background: #0fd28a;">Android Dev</a>
							<a class="btn smallerbtn" style="color: #ffd200; background: #08a6f3;">Student</a>
							<a class="btn smallerbtn" style="color: white; background: #f97400;">Full Stack</a>
							<a class="btn smallerbtn" style="color: white; background: purple;">AR Expert</a>
			
							<!--<p class="text-white mb-0">Computer Science @ UC Irvine</p>-->
							<!--<p class="text-white mt-0">Software Engineer @ VUSAR</p>-->
						</div>
					</div>

					<p class="mb-3">I'm a <b>Computer Science</b> student at the <b>University of California Irvine</b>, currently looking for entry roles in <b>Software Engineering</b>.
						<br><br>My main focuses include native Android app development, along with full stack web development using Node.js and other related tools/frameworks.<br>I love exploring new technologies, such as trying out different Linux distros.
						<br><br>My non-professional interests include longboarding 🛹 and doodling pixel art 🎨!
						<br><br>View my <a target="_blank" rel="noopener" style="color:#00CED1" href="../../../assets/resume/CWParkResume50.pdf">RESUME</a>
					</p>
				</div>
				<!--<hr class="my-4" />-->
			</div>

			<!-- Card: Recent blogs -->
			<!-- <div class="card bg-secondary shadow mb-5"> -->
				<!-- Recent blogs card header -->
				<!-- <div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Recent Blogposts</h3>
						</div>
						<div class="col-4 text-right">
							<a href="#!" class="btn btn-sm btn-primary">Visit my Blog</a>
						</div>
					</div>
				</div> -->
				<!-- Blogs card header -->
				<!-- <div class="card-body"> -->
					<!-- iterate through blogs here -->
				<!-- </div>
			</div> -->

			<!-- Card: What I can offer -->
			<!--<div class="card bg-secondary shadow mb-5">-->
			<!-- WhatOffer card header -->
			<!--	<div class="card-header bg-white border-0">-->
			<!--		<div class="row align-items-center">-->
			<!--			<div class="col-8">-->
			<!--				<h3 class="mb-0">What I can offer</h3>-->
			<!--			</div>-->
			<!--		</div>-->
			<!--	</div>-->
			<!-- WhatOffer card body -->
			<!--	<div class="card-body">-->

			<!--	</div>-->
			<!--</div>-->


			<!-- Card: Timeline -->
			<div class="card bg-secondary shadow">
				<!--Timeline card header -->
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">My Timeline</h3>
						</div>
					</div>
				</div>
				<!--Timeline card body -->
				<div class="card-body">
					<!-- Timeline title text -->
					<!-- <h3 class="mb-5">THE TALE THUSFAR...</h3> -->

					<ul class="timeline">
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-baby.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">January 1996</h4>
									<h4 class="subheading" style="color:#3680C1">Made in Korea</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Grew up in Seocho-dong, Seoul.<br>Small world back then.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-singapore.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2000</h4>
									<h4 class="subheading" style="color:#3680C1">Singapore</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My first home overseas. I attended British schools, kindergarden through third grade. Imagine a younger me speaking with a British accent<br><s>“Fancy a cuppa wo-ta?”</s></p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-thailand.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">August 2004</h4>
									<h4 class="subheading" style="color:#3680C1">Thailand and Tuk tuks</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Thai food is awesome, but as a 10 year old kid all I was interested in was playing outside with my friends all day.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-korea.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">March 2007</h4>
									<h4 class="subheading" style="color:#3680C1">Back in Korea</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">I had difficulties adjusting back to the Korean curriculum after having spent all these years overseas. But this phase is what solidified my identity as a Korean, and brings back pure nostalgia when looking back.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-india.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">December 2011</h4>
									<h4 class="subheading" style="color:#3680C1">Incredible India</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Yanked back out overseas, to India! I remember India as a place where 'There lies order in dis-order'. The culture was unique by far. Food was awesome - found my love for butter chicken and garlic naan 🤩</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-uci1.png" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2014</h4>
									<h4 class="subheading" style="color:#3680C1">Baby Anteater</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">"Hey everything's so big here and people are so nice!" : My first impression coming into the US. College is great because it's so easy to meet people who have similar interests.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-shouhan.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2016</h4>
									<h4 class="subheading" style="color:#3680C1">ShouHan</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My first internship at a startup in Seoul. The dev team was pretty small (i.e. three of us) but I learned a ton from my mentor about setting up Linux servers and other cool stuff.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-army.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">November 2016</h4>
									<h4 class="subheading" style="color:#3680C1">Army Strong</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Stationed at Uijeongbu, Camp Red Cloud. There's so many things that I've earned from my service in the Army. The bonds of comradeship with fellow soldiers, crazy experiences out in the field, discipline in life, and an overall respect and duty for my country.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-uci2.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">September 2018</h4>
									<h4 class="subheading" style="color:#3680C1">Back 2 School</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Returning to school felt like I had been frozen in time: most of my friends graduated and had jobs, and the school had changed too. On the other hand, it opened doors to making new relationships and valuable memories.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/timeline/timeline-vusar.jpg" alt=""></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 style="color:#3680C1">January 2019</h4>
									<h4 class="subheading" style="color:#3680C1">VUSAR</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">My second internship: this time at a startup based in Irvine. I've met some great people working here, and learned the importance of collaboration. I love what I do, and there's always new things to learn.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>Hire Me<br>For My Next<br>Chapter!</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!-- End of Left column -->
	</div>
</div>
